<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer class="sidenav mat-elevation-z2" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu (SHELL)</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="table">Page 1 (MF1)</a>
      <a mat-list-item routerLink="login">Page 2 (MF2)</a>
      <a mat-list-item routerLink="content">Page 3 (MF3)</a>
      <a mat-list-item routerLink="home">Home (MF4)</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content_box"><ng-content></ng-content></div>
  </mat-sidenav-content>
</mat-sidenav-container>
